<div class ="container">

<h2>ユーザー一覧</h2>
<% @users.each do |user| %>
  <div class="row">
    <%= profile_img(user)%>
    <p><%=link_to user.name, user_path(user.id)%></p>
    <p><%=user.email%></p>
    <p><%=render 'follow_form', user:user %></p>
  </div>
  <%end%>
</div>
